.fullWidht {
    width: 100vw;
}

.fullHeight {
    height: 100vh;
}

.noPaddingButton {
	min-width: auto !important;
	padding: 0 !important;
}

.marginBottom10 {
	margin-bottom: 10px;
}

.noPadding {
	padding: 0;
}

.noMargin {
	margin: 0;
}

.marginBottom25 {
    margin-bottom: 25px;
}

.marginTop20 {
    margin-top: 20px;
}

.paddingContainer {
    padding: 25px;
}

.displayBlock {
    display: block;
}

.settingsHeader {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

.buttonWrapper {
    margin-top: 30px;
}