@import "./components//languageList.scss";
@import "./components/poweredBy.scss";
@import "./components/controls.scss";
@import "./components/bottomCarousel.scss";
@import "./layout.scss";

body {
	font-family: sans-serif;

	max-width: 100vw;
	margin: 0 auto;
	background-color: transparent;
}

.l-header {
	display: flex;

	box-sizing: border-box;
	width: 100%;
	min-height: 5em;
	padding: 1em;

	align-content: space-between;
	align-items: stretch;
	justify-content: space-between;

	h1 {
		box-sizing: border-box;
		padding-left: 1.5em;
		padding-right: 1.5em;

	}
}

.l-article {
	margin: 3em 2em;
}

.l-title {
	flex-grow: 1;
}

img.logo {
	width: 100%;
	min-width: 76px;
	height: auto;
}

.interprefyLabel {
	font-size: 14px;
	line-height: 20px;
}

.optional {
	color: #000;
	opacity: .5;
}

.cursorPointer {
	cursor: pointer;
}

:root {
	--interprefy-primary-color: #ff6b2d;
	--interprefy-slider-track-color: #04568f;
	--interprefy-grey-color: #696668;
}

.interprefyPrimaryColor {
	color: var(--interprefy-primary-color) !important;
}

.interprefyGreyColor {
	color: var(--interprefy-grey-color) !important;
}

.ui-slider__track {
	background: var(--interprefy-slider-track-color) !important;
}

.ui-slider__rail {
	background: var(--interprefy-primary-color) !important;
}